body{
    font-size: medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(108, 147, 169);
}
body img{
    margin: auto;
    justify-self: center;
}
.homebody{
    background-size:cover;
}

.main{
    margin: auto;
    background-color: rgb(128, 161, 180);
    text-align: center;
    width: 100%;
    align-items: center;
    padding: 10px;
}
.main img{
    margin: auto;
}
.mainSections{
    margin: auto;
    background-color: rgb(110, 159, 185);
    width: 60%;
    border-radius: 20px;
    padding: 5px;
    padding-right: 10px;
}
.mainSections li{
    list-style:inside;
}
.mainSections img{
    border-radius: 20px;
}
#headshots{
    float: left;
    border-radius: 20px;
}
h1{
    text-align:center;
}

.navbar ul{
    list-style-type:none;
    background-color:rgb(8, 79, 138);
    padding: 0px;
    margin:10px;
    overflow:hidden;
    border-radius:2px;
}

.navbar a{
    color:white;
    text-decoration:none;
    padding:15px;
    display:block;
    text-align:center;
}

.navbar a:hover{
    background-color:hsl(0,0%,10%);
}

.navbar li{
    float:left;

}
.Logo{
    background-color: rgb(113, 161, 201);
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center;     /* centers vertically */
    height: 100px;
}
.navbar img{
    float: right;
}

.navbar img{
    float: right;
}
.JReid{
    margin: auto;
    background-color:rgb(113, 161, 201);
    text-align: center;
    width: 80%;
    align-items: center;
    border-radius:20px;
    color:black; 
    padding: 5px;
    

}

.survey{
    background-color: rgb(113, 161, 201);
    color:blue;
    border-radius:5px;
    height:150px;
    width:300px;
    border:none;
    font-weight:bold;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin: auto;
}
.mainHeader{
    margin-left: 10px;
}