body{
    font-size: medium;
}

.homebody{
    background-image:url(https://www.heart.org/en/-/media/Images/News/2024/July-2024/0702DrowningCPR_SC.jpg?h=450&iar=0&mw=600&w=600&sc_lang=en);
    background-size:cover;
}

.main{
    margin: auto;
    background-color: aquamarine;
    text-align: center;
    width: 90%;
    align-items: center;
    padding: 10px;
}
.mainSections{
    margin: auto;
    background-color: aqua;
    width: 60%;
    border-radius: 20px;
}

h1{
    text-align:center;
}

.navbar ul{
    list-style-type:none;
    background-color:rgb(8, 79, 138);
    padding: 0px;
    margin:10px;
    overflow:hidden;
    border-radius:2px;
}

.navbar a{
    color:white;
    text-decoration:none;
    padding:15px;
    display:block;
    text-align:center;
}

.navbar a:hover{
    background-color:hsl(0,0%,10%);
}

.navbar li{
    float:left;
}

.JReid{
    margin: auto;
    background-color: blue;
    text-align: center;
    width: 80%;
    align-items: center;
    

}

.survey{
    background-color: gray;
    color:white;
    border-radius:5px;
    height:150px;
    width:300px;
    border:none;
    font-weight:bold;
    align-items:center;
}